body {
    background-image: url('bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
   font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgb(83, 192, 231);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(43, 16, 196, 0.1);
    text-align: center;
}

.vote-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: green;
}

#votes {
    margin-top: 20px;
    font-size: 16px;
    color: rgb(18, 17, 18);
}
